.wrapper {
    padding: 24px;
    width: 1024px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px
}

.radioControls {
    padding-left: 4px;
    margin-top: -16px;
    align-self: flex-start;
}