.accordionRow {
    width: 80%;
    padding: 12px 0;
    border-top: 2px solid var(--bg-color-space-around);

    &_border {
        &_bottom {
            border-bottom: 2px solid var(--bg-color-space-around);
        }

        &_none {
            border: none;
        }
    }
}

.accordionTitle {
    width: min-content;
    padding: 0;
    display: grid;
    grid-template-columns: min-content 24px;
    align-items: center;
    border: none;
    background: none;
    text-align: left;
    cursor: pointer;
    font: 18px/1.5 var(--font-golos-regular);
    color: #0061d9;
}

.accordionContent {
    padding-top: 12px;
}

.accordionArrow_opened {
    transform: rotate(180deg);
}

.accordionArrow {
    text-align: center;
    font-size: 0;
    background-repeat: no-repeat;
    background-position: center;
    transition-duration: 0.1s;
    transition-property: transform;
}