@import url(./assets/fonts/fonts.css);

:root {
    --font-golos-regular: "GolosTextWebRegular", Arial, sans-serif;
    --font-golos-bold: "GolosTextWebBold", Arial, sans-serif;
    --font-golos-demibold: "GolosTextWebDemibold", Arial, sans-serif;
    --opacity-transition: opacity 0.2s linear;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html { overflow-y: scroll; }